<div class="loadingscreen">
  Currently paying...
</div>

<h1>Thanks for ordering!</h1>
<p>We are currently sending your order to your address.</p>




<div class="checkout">
<%= render 'list' %>
</div>


<br /><br />
<%= link_to 'Return', cart_clear_path%> -
