<h1>Your cart</h1>

<%= link_to 'Empty your cart', cart_clear_path, data: {confirm: "Are you sure?"} %> -
<%= link_to 'Proceed shopping' ,products_path %>

<br>
<br>
<br>
<%= render 'list' %>
<div class="btn btn-success">Checkout (week 2, not implemented)</div>
