<div class="footer">
  <div class="container">
    <div class="footer-column">
      <h4>Need help?</h4>
      <p>Order information</p>
      <p>Delivery</p>
      <p>Return item</p>
      <p>Privacy</p>
    </div>
    <div class="footer-column">
      <h4>General information</h4>
      <p>About us</p>
      <p>#doegewoonwat</p>
      <p>Codaisseur</p>
      <p>Find us on OldButGold</p>
    </div>
    <div class="footer-column">
      <h4>Contact info</h4>
      <p>Single 542</p>
      <p>1111AA, Amsterdam</p>
      <p>The Netherlands</p>
      <p>000-0000000</p>
    </div>
  </div>
</div>
<div class="copyright">
  <div class="container">
    Copyright Omanido - All rights reserved - Don't buy anything from here.. please don't.
  </div>
</div>
