@import "bootstrap-sprockets";
@import "bootstrap";

.product-thumb{
  height: 100px;
}

.container {
  padding: 0px;
  width: 1000px !important;
}

body {
  background: #fff;
  font-family: 'Ubuntu', sans-serif;

}
.banner {
  width: 100%;
  background: url('banner.jpg') fixed;
  height: 350px;
  background-position: top;
  background-size: cover;
  color: white;
  font-size: 34px;
  padding: 80px;
  padding-top: 120px;

  font-weight: bold;

  .go-to-shop--button {
    font-weight: bold;
    color: black;
    padding: 15px 30px;
    margin-top: 15px;
    background: white;
    border-radius: 5px;
    font-size: 20px;
    display: inline-block;
  }
}

.notice-alert {
  position: fixed;
  background: rgba(62, 147, 62, 0.7);
  color: white;
  font-weight: bold;
  width: 100%;
  padding: 20px 30px;
  bottom:0;
}

.notice-alert:empty {
  padding:0;
}

.navbar {
  margin: 0;
  padding: 0 100px;
  background: rgba(0,0,0,0.8);
  color: black;

}

.placeholder {
  height: 50px;
  width: 100%;
}

.navbar .container a {
  font-weight: bold;
  color: white;
}

.navbar a:hover {
  background:black;
}

.dropdown-menu a {
  background: white !important;
  color: black !important;
}

.panel {
  margin-top: 20px;
}

.product-one {
  img {
    width: 200px;
  }
}




.product-box {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  height: 140px;
  margin-bottom: 10px;

  h1 {
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-size: 24px;
  }

  h2 {
    padding:0;
    margin:0;
    margin-bottom: 20px;
  }
}

.product-box-image {
  float: left;
  width: 100px;
  height: 100px;
  margin-right: 20px;
  img {
    width: 100px;
  }
}

.product-box-text {
  float: left;
  width: 500px;
}

.clear {
  clear: both;
}

.shoppingcart {
  margin-top: 16px;
}

.featured {
  width: 32.65%;
  float: left;
  text-align: center;
  padding: 1%;
  margin-right: 1%;
  background: #eee;
  border-radius: 5px;
  margin-top: 10px;

  &:last-of-type {
    margin:0;
    margin-top: 10px;
  }
}

.no-float { float: none; text-align: center; margin: 0 auto;}

.product-cart {
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 10px;
  background: #eee;
}



.footer {
  background: #9990E3;
  color: white;
  width: 100%;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}

.footer-column {
  width: 33.3%;
  float: left;
  margin-top: 20px;
  text-align: center;

  h4 {
    padding:0;
    margin: 10px 0;
    font-weight: 900;
      font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
  }
}

.copyright {
  width: 100%;
  padding: 10px 0;
  text-align: center;
  background: #8E86CD;
  color: white; font-weight: bold;
}

.asc {
  background-image: url(/images/up_arrow.gif);
}

.desc {
  background-image: url(/images/down_arrow.gif);
}

.current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}

.selected {
  background: green;
}
